<% include ../header %>
<header class="content">
    <h2>Ntalk - Agenda de contatos</h2>
</header>
<section class="content">

    <style>
        .badge-online {
            background: #43A543;
        }
        .badge-offline {
            background: #999999;
        }
        .badge-mensagem {
            background: #7D80CE;
        }
    </style>

    <p>Bem-vindo <%- usuario.nome %></p>

    <form action="/contato" method="post" class="well form-inline">
        <input type="text" name="contato[nome]" placeholder="Nome" >
        <input type="text" name="contato[email]" placeholder="E-mail">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">Contatos</div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <% usuario.contatos.forEach(function(contato, index) { %>
            <tr>
                <td><%- contato.nome %></td>
                <td><%- contato.email %></td>
                <td id="notify_<%- contato.email %>">
                    <a>
                        <% include ../loading.ejs    %>
                    </a>
                </td>
                <td>
                    <a href="/contato/<%- contato._id %>">Detalhes</a>
                    <a href="/chat/<%- contato.email %>" id="chat_<%- contato.email %>">
                        Conversar
                    </a>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

    <% include ../exit %>
</section>
<% include notify_script %>
<% include ../footer %>