<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    var disconectedCallbacks = {};

    socket.on('notify-onlines', function(email) {
        var opts = {el: email, msg: 'Online', class: 'badge-online'};
        clearTimeout(disconectedCallbacks[email]);
        notify(opts);
    });

    socket.on('notify-offline', function(email) {
        var opts = {el: email , msg: 'Offline', class: 'badge-offline'};
        var disconectedCallback = function () {
            notify(opts)
        };
        disconectedCallbacks[email] = setTimeout(disconectedCallback, 1000);
    });

    socket.on('new-message', function(data) {
        var opts = {el: data.email , msg: 'Mensagem', class: 'badge-mensagem'};
        notify(opts);

        var chat = document.getElementById('chat_' + data.email);
        chat.href += '?' + data.sala;
    });


    var notify = function(data) {
        var email = data.el.replace('.', '\\.').replace('@', '\\@');
        var id = '#notify_' + email + ' a';
        $(id).text(data.msg);
        $(id).removeClass();
        $(id).addClass(data.class);
        $(id).addClass('badge');
    }
</script>