<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
//    var socket = io.connect('http://189.115.17.222:8080'); //Para acesso externo

    socket.emit('join', window.location.search); //Envio a sala que vai estar como parâmetro na URL


    socket.on('send-client', function (msg) {
        document.getElementById('chat').innerHTML += msg;
    });
    var enviar = function() {
        var inputMsg = document.getElementById('msg');
        socket.emit('send-server', inputMsg.value);
        inputMsg.value = '';
        inputMsg.focus();
    };
</script>
<header>
    <h2>Ntalk - Chat</h2>
</header>
<section>
    <pre id="chat"></pre>
    <input type="text" id="msg" placeholder="Mensagem">
    <button onclick="enviar();">Enviar</button>
</section>
<% include ../exit %>
<% include ../footer %>