<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ntalk - Agenda de contatos</title>
    <script src="/javascripts/jquery/jquery-2.1.1.min.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/loading.css">
</head>
<body>