<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>Aconteceu algo terrível! :(</h4>
</header>
<p>
    Veja os detalhes do erro:
    <br>

<h1>Message: <%= error.message %></h1>
<h2>Status: <%= error.status %></h2>
<pre>Stack: <%= error.stack %></pre>

</p>
<br/><br/><br/>
<hr>
<p>Que tal voltar <a href="/">home page?</a> :)</p>
<% include footer %>
