.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.content {
    max-width: 800px;
    margin: 0 auto;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
