<% include ../header %>

<section class="form-signin">
    <header>
        <h1>Ntalk</h1>
        <h4>Bem-vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="usuario[nome]" placeholder="Seu nome" class="form-control">
            <input type="text" name="usuario[email]" placeholder="Seu e-mail" class="form-control">
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        </form>
    </section>
<% include ../footer %>
</section>